<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>charo_messenger</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2024 ЧАРО. Все права защищены.</string>
	<key>NSCameraUsageDescription</key>
	<string>ЧАРО использует камеру для видеозвонков</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ЧАРО использует микрофон для звонков</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ЧАРО использует геолокацию для «Кто рядом»</string>
	<key>FLTEnableImpeller</key>
	<true/>
</dict>
</plist>
